*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button{
  border-radius: 7px;
  font-weight: 600;
}
input, select{
  border-radius: 7px;
  border: 1px solid #42445A;
}

body{
  font-family: Arial;
  margin:0;
  background:#f5f6fa;
  max-width: 100vw;
}


main{
  transition: all 0.3s;
  margin-bottom: 50px;
  animation: mainOpacity 0.4s ease;
  opacity: 1;
}
@keyframes mainOpacity{
  from{
    transform: translateY(10px);
    opacity: 0;
  }
}
svg{
  width: 30px;
}
header{
  background:#111;
  color:#fff;
  padding: 1rem;
}

.cards{
  display:flex;
  gap:15px;
  padding:15px;
}

.card{
  background:#fff;
  padding:20px;
  flex:1;
  border-radius:10px;
  box-shadow:0 2px 5px rgba(0,0,0,.1);
}

.form{
  background:#fff;
  margin:15px;
  padding:20px;
  border-radius:10px;
}

input{
  display:block;
  width:100%;
  margin:10px 0;
  padding:10px;
}

button{
  padding:10px 20px;
  background:#0A8CFF;
  color:#fff;
  border:none;
}

table{
    width:100%;
  background:#fff;
  margin:15px;
  border-collapse:collapse;
}

th,td{
  padding:10px;
  border-bottom:1px solid #ddd;
}




select{
  padding:5px;
}

option[value="Pending"]{
  color:red;
}

option[value="Done"]{
  color:green;
}



#staffChart{
  background:#fff;
  padding:10px;
  border-radius:10px;
}

#monthlyChart{
  background:#fff;
  padding:10px;
  border-radius:10px;
}

#dailyChart{
  background:#fff;
  padding:10px;
  border-radius:10px;
}


#statusChart{
  background:#fff;
  padding:10px;
  border-radius:10px;
}

#spareChart{
  background:#fff;
  padding:10px;
  border-radius:10px;
}

section{
  padding: 1rem;
  overflow-x: scroll;
}


.bottom-nav{
  margin: auto;
  width: 80%;
  transition: all 0.5s;
  position: fixed;
  bottom: 1rem;
  left: 2rem;
  right: 2rem;
  border-radius: 100px;
  max-width: 100vw;
  background: rgba(17, 17, 17, 0.89);
  backdrop-filter: blur(3px);
  padding: 0.5rem 0.5rem;
  color: #fff;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: widthInc 0.5s ease;
  opacity: 1;
  display: none;
}
@keyframes widthInc{
  0%{
    width: 50%;
    opacity: 0.7;
  }
  20%{
    width: 45%;
  }
  80%{
    width: 85%;
    opacity: 1;
  }
}

.bottom-nav *{
  transition: all 0.3s ease-in-out;
}


.bottom-nav span{
  height: 40px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-nav .active {
  background: #fff;
  color: #000;
  border-radius: 100px;
}



main.settings-page {
  padding: 1rem;
}
.settings-page h3{
  margin: 0.5rem;
}
.settings-page .list{
  background: #fff;
  border-radius: 10px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-flow: column;
}

.settings-page .list-item{
  border: 1px solid #E6E6E6;
  background: #fff;
  padding: 0.5rem;
border-radius: 8px;
width: 100%;
}
.settings-page .list-item.same{
  background: #f5f6fa;
}
.settings-page .list-item.same p{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings-page .list-item p span{
  font-weight: 600;
  color: #0A8CFF;
}
.settings-page .list-item p{
  margin: 0;
  color: #444;
}
.settings-page .list-item p.date{
  font-size: 13px;
  color: #A6A6A6;
  font-weight: 600;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header button{
  background: #fff;
  color: #000;
  text-wrap: nowrap;
  border-radius: 7px;
  font-weight: 600;
}

.hidden{
  display: none;
}
