*{
  box-sizing: border-box;
}

body{
  font-family: Arial;
  margin:0;
  background:#f5f6fa;
  max-width: 100vw;
}


main{
  margin-bottom: 50px;
}
svg{
  width: 30px;
}
header{
  background:#111;
  color:#fff;
  padding:15px;
}

.cards{
  display:flex;
  gap:15px;
  padding:15px;
}

.card{
  background:#fff;
  padding:20px;
  flex:1;
  border-radius:10px;
  box-shadow:0 2px 5px rgba(0,0,0,.1);
}

.form{
  background:#fff;
  margin:15px;
  padding:20px;
  border-radius:10px;
}

input{
  display:block;
  width:100%;
  margin:10px 0;
  padding:10px;
}

button{
  padding:10px 20px;
  background:#0A8CFF;
  color:#fff;
  border:none;
}

table{
    width:100%;
  background:#fff;
  margin:15px;
  border-collapse:collapse;
}

th,td{
  padding:10px;
  border-bottom:1px solid #ddd;
}




select{
  padding:5px;
}

option[value="Pending"]{
  color:red;
}

option[value="Done"]{
  color:green;
}



#staffChart{
  background:#fff;
  padding:10px;
  border-radius:10px;
}

#monthlyChart{
  background:#fff;
  padding:10px;
  border-radius:10px;
}

#dailyChart{
  background:#fff;
  padding:10px;
  border-radius:10px;
}


#statusChart{
  background:#fff;
  padding:10px;
  border-radius:10px;
}

#spareChart{
  background:#fff;
  padding:10px;
  border-radius:10px;
}

section{
  padding: 1rem;
  overflow-x: scroll;
}


.bottom-nav{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  background: rgba(17, 17, 17, 0.89);
  backdrop-filter: blur(3px);
  padding: 1rem;
  color: #fff;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bottom-nav *{
  transition: all 0.3s ease-in-out;
}


.bottom-nav span{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-nav .active {
  background: #fff;
  color: #000;
  border-radius: 100px;
  width: 60px;
}




.hidden{
  display: none;
}